.client-manager-headline-animation-wrapper {
  // visibility: hidden;
  max-width: 1200px;
  width: 66%;
  margin: Min(160px, 8.6vw) 0 Min(80px, 4.3vw);
}

.cls-1, .cls-10, .cls-12, .cls-15, .cls-18, .cls-20, .cls-3, .cls-5, .cls-7 {
  fill: none;
}

.cls-2 {
  clip-path: url(#clip-path);
}

.cls-10, .cls-12, .cls-15, .cls-18, .cls-20, .cls-3, .cls-5, .cls-7 {
  stroke: #e9ebeb;
}

.cls-10, .cls-12, .cls-15, .cls-20, .cls-3, .cls-5, .cls-7 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-3 {
  stroke-width: 12px;
}

.cls-4 {
  clip-path: url(#clip-path-2);
}

.cls-5 {
  stroke-width: 10px;
}

.cls-6 {
  clip-path: url(#clip-path-3);
}

.cls-7 {
  stroke-width: 11px;
}

.cls-8 {
  clip-path: url(#clip-path-4);
}

.cls-9 {
  clip-path: url(#clip-path-5);
}

.cls-10 {
  stroke-width: 6px;
}

.cls-11 {
  clip-path: url(#clip-path-6);
}

.cls-12, .cls-18 {
  stroke-width: 9px;
}

.cls-13 {
  clip-path: url(#clip-path-7);
}

.cls-14 {
  clip-path: url(#clip-path-8);
}

.cls-15 {
  stroke-width: 8px;
}

.cls-16 {
  clip-path: url(#clip-path-9);
}

.cls-17 {
  clip-path: url(#clip-path-10);
}

.cls-18 {
  stroke-miterlimit: 10;
}

.cls-19 {
  clip-path: url(#clip-path-11);
}

.cls-20 {
  stroke-width: 5px;
}

.cls-21 {
  clip-path: url(#clip-path-12);
}

.cls-22 {
  clip-path: url(#clip-path-13);
}

.cls-23 {
  clip-path: url(#clip-path-14);
}

.cls-24 {
  clip-path: url(#clip-path-15);
}

.cls-25 {
  clip-path: url(#clip-path-16);
}

.cls-26 {
  clip-path: url(#clip-path-17);
}

.cls-27 {
  clip-path: url(#clip-path-18);
}

.cls-28 {
  clip-path: url(#clip-path-19);
}

.cls-29 {
  clip-path: url(#clip-path-20);
}

.cls-30 {
  clip-path: url(#clip-path-21);
}

.cls-31 {
  clip-path: url(#clip-path-22);
}

.cls-32 {
  clip-path: url(#clip-path-23);
}

.cls-33 {
  clip-path: url(#clip-path-24);
}

.cls-34 {
  clip-path: url(#clip-path-25);
}

.cls-35 {
  clip-path: url(#clip-path-26);
}

.cls-36 {
  clip-path: url(#clip-path-27);
}

.cls-37 {
  clip-path: url(#clip-path-28);
}

.cls-38 {
  clip-path: url(#clip-path-29);
}